/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 400px;
  min-width: 350px;
  box-shadow: 0px 4px 16px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  min-width: 300px;
  min-height: 380px;
}

.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 28px;
}

.paragraph {
  color: #333333;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  max-width: 200px;
  padding-bottom: 25px;
  text-align: center;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}
.para {
  color: #0b69ff;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 28px;
  max-width: 200px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 700;
}
